@import '../../../../stylesheets/generics/generic';

.dialog-wrapper__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  close {
    position: absolute;
    top: 0;
    right: 0;
  }

  div[dialog-body] {
    position: relative;
  }

  div[dialog-footer] {
    position: relative;
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 14px;
    transform: translate(-50%, -100%);
  }

  .loading-blocker {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($c-light, 0.5);
    z-index: 100;
  }
}
