<div [style.maxHeight.px]="maxHeight" class="dialog-wrapper__wrapper">
  <div *ngIf="loading" class="loading">
    <i class="fas fa-circle-notch fa-spin"></i> loading
  </div>

  <close *ngIf="closeX" [dialogRef]="dialogRef"></close>
  <div dialog-header style="flex-grow: 0">
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </div>
  <div dialog-body style="flex-grow: 1">
    <div *ngIf="loading" class="loading-blocker"></div>
    <ng-container *ngTemplateOutlet="body"></ng-container>
  </div>
  <div dialog-footer style="flex-grow: 0">
    <div *ngIf="loading" class="loading-blocker"></div>
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </div>
</div>
