<dialog-wrapper [dialogRef]="dialogRef" [closeX]="data.closeX">
  <ng-template #head>
  </ng-template>
  <ng-template #body>
    <h3 *ngIf="data.title">{{data.title}}</h3>
    <div [innerHtml]="data.message"></div>
    <br>
  </ng-template>
  <ng-template #footer>
    <a class="btn outline light warning" (click)="onCancel()">cancel</a>
    &nbsp;
    <a *ngIf="data.confirm" class="btn outline light success" (click)="onConfirm()">confirm</a>
  </ng-template>
</dialog-wrapper>
