@import '~@angular/material/theming';

@include mat-core();

$md-base: (
  50 : #e6eaec,
  100 : #c1cace,
  200 : #98a6ae,
  300 : #6e828e,
  400 : #4f6875,
  500 : #304d5d,
  600 : #2b4655,
  700 : #243d4b,
  800 : #1e3441,
  900 : #132530,
  A100 : #70c3ff,
  A200 : #3daeff,
  A400 : #0a99ff,
  A700 : #008cf0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$md-accent: (
  50 : #ecf5fd,
  100 : #d0e6fb,
  200 : #b1d6f9,
  300 : #92c6f6,
  400 : #7ab9f4,
  500 : #63adf2,
  600 : #5ba6f0,
  700 : #519cee,
  800 : #4793ec,
  900 : #3583e8,
  A100 : #ffffff,
  A200 : #fcfdff,
  A400 : #c9e0ff,
  A700 : #b0d1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$md-success: (
  50 : #edf4ef,
  100 : #d3e4d7,
  200 : #b5d2bc,
  300 : #97c0a1,
  400 : #81b38c,
  500 : #6ba578,
  600 : #639d70,
  700 : #589365,
  800 : #4e8a5b,
  900 : #3c7948,
  A100 : #ccffd6,
  A200 : #99ffad,
  A400 : #66ff84,
  A700 : #4dff6f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$md-warning: (
  50 : #f5f5ea,
  100 : #e7e5cb,
  200 : #d7d4a9,
  300 : #c6c286,
  400 : #bab56c,
  500 : #aea852,
  600 : #a7a04b,
  700 : #9d9741,
  800 : #948d38,
  900 : #847d28,
  A100 : #fffac7,
  A200 : #fff694,
  A400 : #fff161,
  A700 : #ffef47,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$md-error: (
  50 : #f3e9e9,
  100 : #e0c7c8,
  200 : #cca2a3,
  300 : #b77c7e,
  400 : #a76063,
  500 : #984447,
  600 : #903e40,
  700 : #853537,
  800 : #7b2d2f,
  900 : #6a1f20,
  A100 : #ffa8aa,
  A200 : #ff7577,
  A400 : #ff4245,
  A700 : #ff292c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$primary: mat-palette($md-base, 500);
$accent: mat-palette($md-accent, 500);
$success: mat-palette($md-success, 500);
$warning: mat-palette($md-warning, 500);
$error: mat-palette($md-error, 500);
$theme: mat-light-theme($primary, $accent, $error);

@include angular-material-theme($theme);

$c-black: #000;
$c-white: #fff;

$c-light: map-get($mat-light-theme-background, background);
$c-light-hover: lighten($c-light, 10%);
$c-light-darken: darken($c-light, 50%);
$c-light-darken-half: darken($c-light, 25%);
$c-light-lighten: lighten($c-light, 50%);
$c-light-lighten-half: lighten($c-light, 25%);

$c-dark: map-get($mat-light-theme-foreground, base);
$c-dark-hover: darken($c-dark, 10%);
$c-dark-darken: darken($c-dark, 50%);
$c-dark-darken-half: darken($c-dark, 25%);
$c-dark-lighten: lighten($c-dark, 50%);
$c-dark-lighten-half: lighten($c-dark, 25%);

$c-accent: map-get($accent, default);
$c-accent-hover: darken($c-accent, 10%);
$c-accent-darken: darken($c-accent, 50%);
$c-accent-darken-half: darken($c-accent, 25%);
$c-accent-lighten: lighten($c-accent, 50%);
$c-accent-lighten-half: lighten($c-accent, 25%);

$c-success: map-get($success, 500);
$c-success-hover: darken($c-success, 10%);
$c-success-darken: darken($c-success, 50%);
$c-success-darken-half: darken($c-success, 25%);
$c-success-lighten: lighten($c-success, 50%);
$c-success-lighten-half: lighten($c-success, 25%);

$c-warning: map-get($warning, 600);
$c-warning-hover: darken($c-warning, 10%);
$c-warning-darken: darken($c-warning, 50%);
$c-warning-darken-half: darken($c-warning, 25%);
$c-warning-lighten: lighten($c-warning, 50%);
$c-warning-lighten-half: lighten($c-warning, 25%);

$c-error: map-get($error, default);
$c-error-hover: darken($c-error, 10%);
$c-error-darken: darken($c-error, 50%);
$c-error-darken-half: darken($c-error, 25%);
$c-error-lighten: lighten($c-error, 50%);
$c-error-lighten-half: lighten($c-error, 25%);
