@import '../../../stylesheets/generics/generic';

.progress-bar {
  position: absolute;
  right: 0;
  height: 1px;
  width: 0;
  background-color: $c-accent;
}

.wrapper {
  display: grid;
  grid-template-columns: 75px 1fr;
}

.info {
  color: $c-accent-lighten-half;
}

.success {
  color: $c-success-lighten-half;
}

.warning {
  color: $c-warning-lighten-half;
}

.error {
  color: $c-error-lighten-half;
}
