<dialog-wrapper (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [closeX]="false" [dialogRef]="dialogRef">
  <ng-template #body>
    <div class="wrapper align-center">
      <i *ngIf="type === NoticeType.Info" class="info fas fa-info fa-3x"></i>
      <i *ngIf="type === NoticeType.Success" class="success fas fa-check fa-3x"></i>
      <i *ngIf="type === NoticeType.Warning" class="warning fas fa-exclamation fa-3x"></i>
      <i *ngIf="type === NoticeType.Error" class="error fas fa-times fa-3x"></i>
      <p class="align-left">
        {{data?.message}}
      </p>
    </div>
  </ng-template>
  <ng-template #footer>
    <br>
    <div [style.width.%]="100 - ((current / ttl) * 100)" class="progress-bar"></div>
  </ng-template>
</dialog-wrapper>
